// Eww colors for Melissa rice
$bg: #2e3440;
$bg-alt: #353C4A;
$fg: #d8dee9;
$black: #4c566a;
$lightblack: #262831;
$red: #bf616a;
$blue: #81a1c1;
$cyan: #88c0d0;
$magenta: #b48ead;
$green: #a3be8c;
$yellow: #ebcb8b;
$archicon: #0f94d2;
